
main {
	color: #bfbfbf;
}

/* Superscript text */
.superscript {
	vertical-align: super;
	font-size: .5em;
}

.current-data, .fcast-data {
	margin-bottom: 0;
	padding: 0.8rem 0;
}

.current-data, .fcast-day, .fcast-max {
	font-size: 1.2em;
}

.fcast-max {
	font-weight: bolder;
}

.fcast-day {
	float: left;
}

.data-value {
	float: right;
}

.badge {
	font-size: 1em;
	font-weight: normal;
}

.info-display {
	display: none;
}

#welcomeDisplay, #errorDisplay {
	padding: 10rem 0;
}